.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__text--right {
    .social {
      display: flex;
      align-items: center;
      gap: 2rem;
      @include respond (phone) {
        gap: 1rem;
      }
      i {
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
          color: $color-black;
          transform: scale(1.1);
          filter: drop-shadow(1px 1px 1px $color-black);
        }
      }
    }
  }
}
