.main__img {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  &::after {
    content: '';
    width: 50rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $color-black-6;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    filter: blur(20px);
    animation: shadow 60s ease infinite;
  }
  .img__sneakers {
    animation: sneakers 60s ease infinite;
    z-index: 5;
    max-width: 90%;
  }
}
