.main__img {
  text-align: center;
  min-width: 80%;
  min-height: 70vh;
  margin: 0 auto;
  position: relative;
  display: grid;
  place-items: center;

  @include respond(tablet-land) {
    min-height: 75vh;
    min-width: 65%;
    max-width: 65%;
  }
  @include respond(tablet) {
    min-height: 75vh;
  }
  @include respond(phone) {
    max-height: 80vh;
  }

  &::after {
    content: '';
    width: 50rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $color-black-6;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    filter: blur(20px);
    animation: shadow 60s ease infinite;
    @include respond(tablet) {
      display: none;
    }
  }
  .img__sneakers {
    animation: sneakers 60s ease infinite;
    z-index: 5;
    max-width: 75%;
    @include respond(wide) {
      max-width: 90%;
    }
  }
}
