.swiper-button-next {
  padding: 20rem;
  border: 1px solid $color-white;
  border-radius: 50%;
  right: -12%;
  top: 30%;
}
.swiper-button-prev {
  padding: 20rem;
  border: 1px solid $color-white;
  border-radius: 50%;
  left: -12%;
  top: 30%;
}
