body {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  color: $color-white;
  background-color: $color-primary;
  //background: linear-gradient(225deg, #655281 0%, #66a0c1 100%);
}
:focus {
  outline: none;
  color: darkcyan;
}
.container {
  min-width: 100vw;
  min-height: 80vh;
  @include respond(tablet-land) {
    min-height: 100vh;
  }
}
