// font-family: 'Raleway', sans-serif;
// font-family: 'Silkscreen', cursive;
//font-family: 'Monoton', cursive;

.header__text--left {
  p {
    @include textGame;
  }
}

.img__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 23rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 1px $color-white;
  color: transparent;
  mix-blend-mode: difference;
  z-index: 10;
  user-select: none;
  transition: all 0.2s linear;
  @include respond(tablet-land) {
    font-size: 18rem;
  }
  @include respond(tablet) {
    font-size: 12rem;
    position: static;
    transform: translate(0, 0);
  }
  @include respond(phone) {
    font-size: calc($index * 4);
  }
  &:hover {
    padding: 1rem 3rem;
    background-color: red;
    color: #000;
  }
}

.footer__price {
  h2 {
    font-size: 3rem;
    font-family: $color-white;
    font-family: 'Monoton', cursive;
    font-weight: normal;
    letter-spacing: 1rem;
  }
  p {
    font-size: 2rem;
    font-family: monospace, sans-serif;
    color: $color-white-4;
    line-height: 1.8;
  }
}

.footer__buy {
  p {
    @include textGame;
  }
}
