//colors
$color-primary: rgb(98, 57, 119);
$color-white: #fff;
$color-black: #000;
$color-white-4: rgba(255, 255, 255, 0.4);
$color-black-6: rgba(
  $color: #000000,
  $alpha: 0.6,
);
$color-black-3: rgba(
  $color: #000000,
  $alpha: 0.3,
);


//For text and margin
$index: calc(1vw + 1vh);